################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PA2-2022-2C-WebAppMVC/bin/Debug/net6.0
