@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Programación Avanzada II</h1>
    <p><br>Vamos a estar retomando de avanzada I conocimientos de programación estructurada y nociones de programación orientada a objetos, es deseable tener nociones sobre el funcionamiento de una aplicación Web: html – cliente (browser) – Servidor. Se hará foco en lograr tener los conocimientos suficientes en lo que supone la construcción de una aplicación web ASP.NET web desde cero en el lenguaje c#, con buenas prácticas referentes a patrones de arquitectura de aplicaciones y tecnologías vigentes. </p>
    <img src="~/images/icon.png" />
    <p><br>Esta asignatura es de importancia, dado que realiza grandes aportes al desarrollo profesional con respecto a: relevar requerimientos, analizar, diseñar, planificar, dirigir, desarrollar, implementar y probar sistemas web basados en .net framework. Se abordarán los tópicos y sus contenidos de una forma teórica y práctica utilizando metodologías agiles. Esta práctica será realizada en clase en acompañamiento del profesor en laboratorio, a los efectos de afianzar su conocimiento en cada tema tratado.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Readme</h1>
    <p>Al momento de iniciar un desarrollo de software debemos preguntarnos que valor agregamos al cliente o usuario, con base en los requerimientos, y si este es verificable. Sobre este tema, Stiwart Alvarado Zúñiga (Scrum Master en el BCCR) nos introduce de esta manera:<br /> </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/AwdF8e1DeTk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>
        <br>Dado este video introductorio, podemos avanzar con un nuevo entregable del trabajo practico principal.
        Consigna: Agregar en readme del repositorio del proyecto, la historia de usuario o caso de uso con criterios de aceptación.
    </p>
</div>
<div>
    <p>
        Links utiles:
        <br><a href="https://github.com/PA2-UNLaM/PA2-2022-2C-WebAppMVC">
            Codigo de este proyecto </a>
        <br><a href="https://visualstudio.microsoft.com/es/vs/community">
            Ide de desarrollo </a>
        <br> <a href="https://learngitbranching.js.org/?demo=&locale=es_ES">
            Git </a>
        <br> <a href="https://learn.microsoft.com/es-es/dotnet/csharp/tour-of-csharp/tutorials/">
            Introducción a C#
        </a>
        <br> <a href="https://learn.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro?view=aspnetcore-6.0">
            Get started with EF Core in an ASP.NET MVC web app</a>
        <br><a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/controllers/testing?view=aspnetcore-6.0">
            Unit test controller logic in ASP.NET Core </a>
        <br><a href="https://learn.microsoft.com/es-es/aspnet/core/mvc/models/validation?view=aspnetcore-6.0">
            Validación del modelo en ASP.NET Core MVC </a>
        <br><a href="https://learn.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-6.0">
            Session and state management in ASP.NET Core
        </a>
        <br><a href="https://docs.microsoft.com/aspnet/core">
            Building Web apps with ASP.NET Core </a>
</p>
</div>
